[submodule ".registry"]
	path = .registry
	url = https://github.com/2degreesinvesting/2degreesinvesting.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "hello.world"]
	path = hello.world
	url = https://github.com/2DegreesInvesting/hello.world
	shallow = true
	registered = true
[submodule "tilt.company.match"]
	path = tilt.company.match
	url = https://github.com/2DegreesInvesting/tilt.company.match
	shallow = true
	registered = true
[submodule "janitor"]
	path = janitor
	url = https://github.com/sfirke/janitor
	shallow = true
	registered = false
[submodule "r2dii.utils"]
	path = r2dii.utils
	url = https://github.com/2DegreesInvesting/r2dii.utils
	shallow = true
	registered = false
