[submodule ".registry"]
	path = .registry
	url = https://github.com/2degreesinvesting/universe
	shallow = true
	branch = HEAD
[submodule "r2dii.interactive"]
	path = r2dii.interactive
	url = https://github.com/2DegreesInvesting/r2dii.interactive
	shallow = true
	registered = true
[submodule "r2diitemplate"]
	path = r2diitemplate
	url = https://github.com/2DegreesInvesting/r2diitemplate
	shallow = true
	registered = false
